@import '../../node_modules/normalize.css/normalize.css';

:root {
  --staex-dark-pacific-blue: rgb(0, 47, 59);
  --staex-golden-yellow: rgb(233, 221, 21);
  --staex-light-pacific-blue: rgb(0, 157, 196);
  --staex-medium-pacific-blue: rgb(0, 86, 104);
  --staex-metallic-gold: rgb(227, 220, 122);
  --staex-pacific-blue: rgb(0, 63, 78);
  --staex-stardust-silver: rgb(228, 233, 242);
  --staex-white: rgb(255, 255, 255);
  --staex-red: rgb(192, 64, 64);
  --staex-green: rgb(120, 185, 143);
  --staex-yellow: rgb(192, 192, 128);
  --staex-gray: rgb(192, 192, 192);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: Roboto, Montserrat, sans;
}

h1 {
  text-align: center;
  color: var(--staex-pacific-blue);
}

pre {
  margin-bottom: 0;
}

header {
  background-color: var(--staex-stardust-silver);
  padding: 10px 20px;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav li a {
  text-decoration: none;
  color: var(--staex-dark-pacific-blue);
  padding: 5px 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

nav li a:hover {
  border-color: var(--staex-golden-yellow);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--staex-dark-pacific-blue);
}

input {
  width: 100%;
  padding: 16px;
  margin: 0;
  border: 1px solid var(--staex-gray);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px var(--staex-stardust-silver);
}

button {
  background-color: var(--staex-gray);
  color: var(--staex-white);
  padding: 20px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--staex-metallic-gold);
}

.alert {
  padding: 25px;
  border-radius: 4px;
}

.error {
  color: var(--staex-white);
  background-color: var(--staex-red);
}

.success {
  color: var(--staex-medium-pacific-blue);
  background-color: var(--staex-green);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 2px 15px var(--staex-stardust-silver);
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid var(--staex-stardust-silver);
}

th {
  background-color: var(--staex-stardust-silver);
}

tr:nth-child(even) {
  background-color: var(--staex-stardust-silver);
}

tr:hover {
  background-color: var(--staex-metallic-gold);
}

thead tr {
  box-shadow: 0 2px 10px var(--staex-stardust-silver);
}

select {
  width: 100%;
  padding: 16px;
  margin: 0;
  border: 1px solid var(--staex-gray);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0px 3px 6px var(--staex-stardust-silver);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mouse-pointer {
  cursor: pointer;
}

.card {
  background-color: var(--staex-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px 0;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: var(--staex-pacific-blue);
  color: var(--staex-white);
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
}

.card-content {
  padding: 20px;
  color: var(--staex-dark-pacific-blue);
}

.card-field {
  margin-bottom: 15px;
  font-size: 16px;
}

.card-field:last-child {
  margin-bottom: 0;
}

.card-field-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-field-value {
  color: var(--staex-medium-pacific-blue);
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-container select,
.form-container input {
  flex: 1;
  margin: 0 10px;
}

.form-container input {
  flex: 2;
}

.form-container > *:first-child {
  margin-left: 0;
}

.form-container > *:last-child {
  margin-right: 0;
}

.submenu {
  display: none;
  position: absolute;
  background-color: var(--staex-stardust-silver);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.submenu li {
  padding: 10px 20px;
  text-align: left;
}

.submenu li a {
  padding: 10px 20px;
  color: var(--staex-dark-pacific-blue);
  text-decoration: none;
  display: block;
}

.submenu li a:hover {
  background-color: var(--staex-light-pacific-blue);
  color: var(--staex-white);
}

.menu-item:hover .submenu {
  display: block;
}

@media (max-width: 800px) {
  .form-container {
    flex-direction: column;
    align-items: stretch;
  }

  .form-container > * {
    margin: 5px 0 !important;
    width: auto !important;
  }

  .form-container > *:first-child {
    margin-top: 0 !important;
  }

  .form-container > *:last-child {
    margin-bottom: 0 !important;
  }
}

.h-scroll-container {
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* To not hide content by horizontal scroll view. */
  padding-bottom: 5px;
}
